* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

h1 {
  margin: 0;
}

.card {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  max-width: 768px;

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 20px;
    margin-bottom: 20px;

    color:rgb(104, 104, 104);
  }

  &__title-text {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-right: 10px;
    text-transform: uppercase;
  }

  &__smile {
    animation-name: rotater;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }

  &__text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

    border: 2px solid lightslategray;
    border-radius: 10px;
    background-color: #eee;
    
    font-weight: bold;
  }

  &__text {
    margin: 10px;
    min-height: 35px;
    letter-spacing: 1.15px;
    justify-content: center;
  }

  &__author {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;

    outline: none;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;

    background-color: rgb(151, 107, 255);

    animation: upper;
    animation-duration: 3s;
    animation-delay: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.85,.21,.21,1.05);
  }

  &__button {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;

    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;

    outline: none;
    border: 1px solid transparent;
    border-radius: 10px 10px 0 0;
    background-color: #ff4f75;
  }
}

@keyframes rotater {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes upper {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-70%);
  }
}
